useDynLib(mdendro, .registration=TRUE)

importFrom("graphics", axis, par, points, polygon, rect, segments, strheight,
    strwidth, text)
importFrom("grDevices", dev.flush, dev.hold)
importFrom("Rcpp", evalCpp)
importFrom("stats", as.dendrogram, as.hclust, cophenetic, is.leaf)
importFrom("utils", str)

export(linkage, descval, descplot)

S3method(as.dendrogram, linkage)
S3method(as.hclust, linkage)
S3method(cophenetic, linkage)
S3method(plot, linkage)
S3method(print, linkage)
S3method(summary, linkage)
